@model ExamManagementSystem.Models.PurchaseConfirmation

@{
    ViewData["Title"] = "Purchase Complete";
}

<h2>Purchase Complete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.confirmation_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.confirmation_code)
        </dd>
        <dt>
            @Html.LabelFor(model => model.customer_email_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer_email_address)
        </dd>
        <dt>
            @Html.LabelFor(model => model.customer_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>
        <dt>
            @Html.LabelFor(model => model.customer_phone_number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer_phone_number)
        </dd>
        <dt>
            @Html.LabelFor(model => model.product_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>
        <dt>
            @Html.LabelFor(model => model.product_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Home</a>
</p>
