@model IEnumerable<ExamManagementSystem.Models.RegExam>

@{
    ViewData["Title"] = "ExamHistory";
}

<h2>Exam History</h2>
<table>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.Exam.examType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result)
</tr>
@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exam.examType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.result)
        </td>
    </tr>
}
</table>
<p>
    <a asp-action="ViewAll">Back to List</a>
</p>
