@*@model ExamManagementSystem.Models.RegExam*@

@model IEnumerable<ExamManagementSystem.Models.RegExam>

@{
    ViewData["Title"] = "Student Exams";
}

<h2>Registered Exams</h2>

<div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<table>
    <tr>
        <td><b>Exam Type</b></td>
        <td><b>Exam Date</b></td>
        <td align="center"><b>Exam Results</b></td>
        <td><b>Withdraw</b></td>
        <td><b>Details</b></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.examType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.date)
            </td>
        @if (item.publish == "1")
        {
            <td> 
                @Html.DisplayFor(modelItem => item.result)
            
                (Grade: @Html.DisplayFor(modelItem => item.score))
            </td>
        }
        else
        {
            <td align="center">
                Results not published
            </td>
        }
        @if ((DateTime.Compare(DateTime.Now, item.Exam.date)) < 0 && item.publish == "0")
        {
                <td>
                    @Html.ActionLink("Withdraw",

                "Withdraw",
                "Student",
                item,
                null
                )
                   </td>
        }
        else
        {
            <td>Not Available</td>
        }
        <td>@Html.ActionLink("Details", "ExamDetails", "Student", item.Exam, null)</td>
        </tr>
    }
</table>