@model IEnumerable<ExamManagementSystem.Models.RegExam>

@{
    ViewData["Title"] = "View All";
}

<h2>All Records</h2>

<div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.txStateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.prgResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.commResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.examType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.result)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.txStateID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.prgResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.commResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.examType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.result)
                </td>
            </tr>
        }
    </table>
