@model IEnumerable<ExamManagementSystem.Models.RegExam>

@{
    ViewData["Title"] = "ChangeResults";
}

<h2>Change Results</h2>

  @using (Html.BeginForm("ChangeResults", "ExamRegistration", FormMethod.Post))
    {
        <b>Search By:</b>
        @Html.RadioButton("option", "txstateId")<text>TxState ID</text>
        @Html.RadioButton("option", "username")<text>Username</text>
        <br>
        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" />
    }
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.txStateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.examType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.date)
        </th>
        <th>
            Previous Result
        </th>
        <th>
            Update Result To
        </th>
        <th>
        </th>
    </tr>
   
    @foreach (var item in Model)
    {        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.txStateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.examType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>   
                <form  asp-action="UpdateResult" method="post">
                    @Html.RadioButton("result", "Pass")<text>Pass</text>
                    @Html.RadioButton("result", "Fail")<text>Fail</text>
                    @Html.RadioButton("result", "No Show")<text>No Show</text>
                      <input name="examRegistrationId" hidden="hidden" value=@item.regExamID />
                    <input name="studentID" hidden="hidden" value=@item.Student.studentID />
                    <input name="examinationID" hidden="hidden" value=@item.examID />
                    <input type="submit" value="Save" class="btn btn-default" />
                  
                </form>                               
            </td>
        </tr>
    }

    @{int i = 0;}
@foreach (var item in Model)
{

    @if (i == 0)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.txStateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.UserName)
        </td>
        <td>
            Group 1:
            @*@Html.DisplayFor(modelItem => item.Student.group1)*@
        </td>
        <td>
            
        </td>
        <td>
           
            @Html.DisplayFor(modelItem => item.Student.group1)
        </td>
        <td>
            <form asp-action="UpdateResult" method="post">
                @Html.RadioButton("result", "Pass")<text>Pass</text>
                @Html.RadioButton("result", "Fail")<text>Fail</text>
                @Html.RadioButton("result", "No Show")<text>No Show</text>
                <input name="examRegistrationId" hidden="hidden" value="-1" />
                <input name="studentID" hidden="hidden" value=@item.Student.studentID />
                <input name="examinationID" hidden="hidden" value="1" />
                <input type="submit" value="Save" class="btn btn-default" />

            </form>
        </td>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.txStateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.UserName)
        </td>
        <td>
            Group 2:
            @*@Html.DisplayFor(modelItem => item.Student.group1)*@
        </td>
        <td></td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Student.group2)
        </td>
        <td>
            <form asp-action="UpdateResult" method="post">
                @Html.RadioButton("result", "Pass")<text>Pass</text>
                @Html.RadioButton("result", "Fail")<text>Fail</text>
                @Html.RadioButton("result", "No Show")<text>No Show</text>
                <input name="examRegistrationId" hidden="hidden" value="-1" />
                <input name="studentID" hidden="hidden" value=@item.Student.studentID />
                <input name="examinationID" hidden="hidden" value="2" />
                <input type="submit" value="Save" class="btn btn-default" />

            </form>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.txStateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.UserName)
        </td>
        <td>
            Group 3:
            @*@Html.DisplayFor(modelItem => item.Student.group1)*@
        </td>
        <td></td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Student.group3)
        </td>
        <td>
            <form asp-action="UpdateResult" method="post">
                @Html.RadioButton("result", "Pass")<text>Pass</text>
                @Html.RadioButton("result", "Fail")<text>Fail</text>
                @Html.RadioButton("result", "No Show")<text>No Show</text>
                <input name="examRegistrationId" hidden="hidden" value="-1" />
                <input name="studentID" hidden="hidden" value=@item.Student.studentID />
                <input name="examinationID" hidden="hidden" value="3" />
                <input type="submit" value="Save" class="btn btn-default" />

            </form>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.txStateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.UserName)
        </td>
        <td>
            Group 4:
            @*@Html.DisplayFor(modelItem => item.Student.group1)*@
        </td>
        <td></td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Student.group4)
        </td>
        <td>
            <form asp-action="UpdateResult" method="post">
                @Html.RadioButton("result", "Pass")<text>Pass</text>
                @Html.RadioButton("result", "Fail")<text>Fail</text>
                @Html.RadioButton("result", "No Show")<text>No Show</text>
                <input name="examRegistrationId" hidden="hidden" value="-1" />
                <input name="studentID" hidden="hidden" value=@item.Student.studentID />
                <input name="examinationID" hidden="hidden" value="4" />
                <input type="submit" value="Save" class="btn btn-default" />

            </form>
        </td>
    </tr>
    }
    i++;
}
</table>
