@model IEnumerable<ExamManagementSystem.Models.Student>

@{
    ViewData["Title"] = "ViewCompleted";
}

<h2>ViewCompleted</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txStateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prgResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group4)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.txStateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prgResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group4)
            </td>
        </tr>
    }
</table>
