@model IEnumerable<ExamManagementSystem.Models.RegExam>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.withdraw)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.withdraw)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.regExamID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.regExamID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.regExamID">Delete</a>
        </td>
    </tr>
}
</table>
