@model IEnumerable<ExamManagementSystem.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <b>Search By:</b>
    @Html.RadioButton("option","firstName")<text>First Name</text>
    @Html.RadioButton("option","lastName")<text>Last Name</text>
    @Html.RadioButton("option", "studentId")<text>Student ID</text>
    @Html.RadioButton("option", "username")<text>Username</text>
    @Html.RadioButton("option", "major")<text>Major</text>
    @Html.RadioButton("option", "email")<text>Email</text>
    @Html.RadioButton("option", "exam")<text>Exam</text>
    <br>
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txStateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prgResult)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txStateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prgResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commResult)
        </td>
        <tr>
            <td colspan="12">
            <a asp-action="Edit" asp-route-id="@item.studentID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.studentID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.studentID">Delete</a>
            </td>
        </tr>
    </tr>
}
</table>
