@model ExamManagementSystem.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.FirstName):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.FirstName)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.LastName):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.LastName)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.UserName):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.UserName)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.Email):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.Email)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.Major):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.Major)
            </dr>
        </dt>
        </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back</a>
</p>
