@model ExamManagementSystem.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.firstName):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.firstName)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.lastName):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.lastName)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.txStateID):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.txStateID)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.UserName):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.UserName)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.phone):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.phone)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.email):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.email)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.address):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.address)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.city):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.city)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.zip):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.zip)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.major):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.major)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.commResult):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.commResult)
            </dr>
        </dt>
        <dt>
            <dr>
                <b>@Html.DisplayNameFor(model => model.prgResult):</b>
            </dr>
            <dr>
                @Html.DisplayFor(model => model.prgResult)
            </dr>
        </dt>
        </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.studentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
