@model ExamManagementSystem.Models.Exam

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.examType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.examType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.regDeadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.regDeadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegDeadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegDeadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.examID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
